body{
	background: rgb(210, 214, 191);
	color: #333;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 0;
    padding: 0;
    
}
h1{
    text-align: center;
}
.container{
    background: whitesmoke;
	width: 70%;
	margin: 0 auto;
}
form {
     padding: 0 40px 20px;
}


label {
    padding: 0 1em 0 0;
    display: block;
    width: 100%;
    margin-bottom: 3px;
}

input:focus,textarea:focus,radio:focus {
    background-color: rgba(253, 238, 0,0.3);
}


input[type="submit"] {
    width: 25%;
    text-transform: uppercase;
    background: #333;
    border: 1px solid #2a2a2a;
    color: #fff;
    height: 40px;
    margin: 3em 0 0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 3px 1px #ccc;
}
input[type="submit"]:hover {
    background: #444;
}


.error {
    display: block;
    color: red;
}

